.services{
    padding-top: 5rem;

    @media (max-width: 992px) {
        padding-top: 2rem;
      
  }
}
.red-text{
    color: var(--red);;
}
.service-font{
    font-weight: lighter;
    font-size: large;
}