.footer-logo{
  width: 20%;
  padding-right: 2rem;
}
.footer-link{
  width: 20%;
}
.link-grey{
  color: grey;
}
.footer-logo1{
  width: 50%;
  padding-right: 0.5rem;
  @media (max-width: 767px) {
    width: 15%;
    padding-right: 0;
   
  }
}