.outer-background {
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .inner-background {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .text-blue {
    color: var(--blue);
    display: inline-flex;
    align-items: center;
  }
  
  .red-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px; /* Space between text and circle */
  }
  